@page {
  margin: 0.45in;
}

body {
  font-size: 10pt;
  line-height: 1.4;
  font-family: system-ui, -apple-system, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 18pt;
}

h2 {
  font-size: 12pt;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.15em;
}

h3 {
  font-size: 10.5pt;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

p, li {
  margin-top: 0.15em;
  margin-bottom: 0.15em;
}

ul {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding-left: 1.2em;
}

hr {
  margin: 0.4em 0;
  border: none;
  border-top: 1px solid #ddd;
}

table {
  font-size: 9.5pt;
}

a {
  color: #1a5276;
  text-decoration: none;
}

em {
  font-size: 9.5pt;
}
